/*body{
    margin-left: 50vw;
    margin-top: 50vh;
    transform: translate(-50%, -50%);
} */

#balken {
    position: absolute;
    left: 180px;
}

#wertung{
    position:absolute;
    left: 20px;
}
#liste1 {
    position: absolute;
    left: 600px;
    top:200px;
}

#liste2 {
    position: absolute;
    left: 600px;
    top: 450px;
}
em {
    font-family: 'Gill Sans';
}

table, th, td {
    border: 1px solid red;
    border-collapse: collapse;
    width:1000px;
}

.question_one {
    width: 500px;
    background-color: lightgrey;
    border-radius: 5px;
    padding: 1em;
    position: absolute;
    top: 230px;
    left: 800px;
}

.question_two {
    width: 500px;
    background-color: lightgrey;
    border-radius: 5px;
    padding: 1em;
    position: absolute;
    top: 400px;
    left: 800px;
}

.question_three {
    width: 500px;
    background-color: lightgrey;
    border-radius: 5px;
    padding: 1em;
    position: absolute;
    top: 570px;
    left: 800px;
}
.question_four {
    width: 500px;
    background-color: lightgrey;
    border-radius: 5px;
    padding: 1em;
    position: absolute;
    top: 740px;
    left: 800px;
}

.question_five {
    width: 500px;
    padding: 1em;
    background-color: lightgrey;
    border-radius: 5px;
    position: absolute;
    top: 910px;
    left: 800px;
}

.next_page {
    position: fixed;
    bottom: 8px;
    right: 16px;
}
.last_page {
    position: fixed;
    bottom: 8px;
    left: 16px;
}
.professor {
    position: fixed;
    top: 300px;
    left:350px;
}
.slide {
    -webkit-appearance: none;
    width: 80%;
    height: 5px;
    border-radius: 1px;
    outline: none;
}
.slide::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #e80505;
    cursor: pointer;
}