#mainAccept{
    margin: auto;
    display: grid;
    max-width: fit-content;
    height: 90vh;
    align-items: center;
    justify-content: center;
}

button{
    background-color: #cb3333;
    padding: 10px 20px 10px 20px;
    border: none;
    color: #F6F6F6;
    font-size: 20px;
    margin-top: 50px;
}

#buttonArea{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}