*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Trebuchet MS, Helvetica, sans-serif;
}

body {
    background-color: #F6F6F6;
}

a:hover{
    cursor: pointer;
}

#all{
    height: 100vh;
    width: 100vw;
    display: relative;
}

#header{
    background-color: #cb3333;
    height: 10%;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 0 10px;
}

#header > a:link, a:visited{
    text-decoration: none;
    color: white;
    padding: 12px;
 }

#main{
    height: 90%;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

#leftSide{
    justify-self: center;
    align-self: center;
    transform: translate(150px);
}

#rightSide{
    justify-self: start;
    align-self: center;
}

#rightSide > h1 {
    justify-self: center;
    text-align: center;
}

.questionArea{
    height: 70vh;
    margin-top: 50px;
    display: grid;
    grid-template-rows: repeat(1fr, 5);
    justify-content: space-around;
    align-items: center;
/*    overflow: scroll;
    overflow-x: hidden; */
}

.question{
    background-color: rgb(221, 221, 221);
    padding: 15px;
    border-radius: 10px;
    margin: 10px;
}

.slider {
    -webkit-appearance: none;
    outline: none;
    border-radius: 15px;
    height: 15px;
    margin-top: 40px;
    margin-right: 50px;
    width: 200px;
    background: #cb3333;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #333;
    cursor: pointer;
}

.sliderResult{
    font-weight: bolder;
}

.question{
    width: 500px;
}

#nextPage{
    position: absolute;
    bottom: 50px;
    right: 50px;
}

#lastPage{
    position: absolute;
    bottom: 50px;
    left: 50px;
}

#nextPageButton{
    background-color: #cb3333;
    padding: 10px 20px 10px 20px;
    border: none;
    color: #F6F6F6;
    font-size: 20px;
}
#currentQuestionPage{
    text-align: center
}

#info{
    text-align: center;
    margin-top: 15px;
}

#infoBox{
    position: absolute;
    height: max-content;
    width: 300px;
    border: 2px dotted black;
    text-align: center;
    padding: 10px;
}

#infoBox > p {
    text-align: justify;
    margin-top: 25px;
}


@media only screen and (max-width: 800px){
    #main{
        margin-top: 20px;
        grid-template-columns: 1fr;
    }
}
