*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#header > a:link, a:visited{
   text-decoration: none;
   color: white;
   padding: 12px;
}

#main{
    height: 100vh;
    display: grid;
}

#header{
    background-color: #cb3333;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 0 10px;
}


#proflist{
    margin-top: 10%;
    padding: 15px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
    height: 90%;
}

.profImage{
    background-image: url('https://picsum.photos/200/300?grayscale&blur=2');
    background-position: center;
    height: 300px;
    width: 300px;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
}

.profImage > h1{
    color: #cb3333;
    margin-top: 50px;
}

.profImage:hover > h1{
    margin-top: 0px;
    color: white;
    background: #cb3333;
}

.chooseLecture{
    background-color: white;
    height: 0;
    width: 300px;
    transition: 0.3s;
    visibility: hidden;
    display: grid;
    align-items: center;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

.profImage:hover .chooseLecture{
    height: 300px;
    width: 300px;
    visibility: visible;
}

.chooseLecture > h2:hover{
    transform: scale(1.1);
    transition: 0.1s;
    cursor: pointer;
}

