*{
    box-sizing: border-box;
    margin: 0;
    padding: 500;
    font-family: Trebuchet MS, Helvetica, sans-serif;
}

#header > a:link, a:visited{
   text-decoration: none;
   color: white;
   padding: 12px;
}

#main{
    height: 100vh;
    display: grid;
}

#header{
    background-color: #cb3333;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 0 10px;
}


#proflist{
    margin-top: 0%;
    padding: 50px;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    height: 90%;
    margin: auto;
}

.profImage{
    background-image: url('https://picsum.photos/200/300?grayscale&blur=0');
    background-position: center;
    background-color: white;
    height: 300px;
    width: 300px;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    border: 2px solid #cb3333;
    margin: 50px;
}

.profImage > h1{
    color: #cb3333;
    margin-top: 50px;
}

.profImage:hover > h1{
    margin-top: 0px;
    color: white;
    background: #cb3333;
    text-shadow: 0 0 0;
}

.chooseLecture{
    background-color: white;
    height: 0px;
    width: 300px;
    transition: 0.5s;
    visibility: hidden;
    display: grid;
    align-items: center;
    text-align: center;
    box-shadow: 0 10px 5px #adadad;
    overflow: hidden;
    font-size: 20px;
}

.profImage:hover .chooseLecture{
    height: 260px;
    width: 300px;
    visibility: visible;
}

.chooseLecture > h2:hover{
    transform: scale(1.1);
    transition: 0.3s;
    cursor: pointer;
}

.chooseLecture > h2:not(:hover){
  opacity: 0.5;
    cursor: pointer;
}



