*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Trebuchet MS, Helvetica, sans-serif;
}

body {
    background-color: #F6F6F6;
}

a:hover{
    cursor: pointer;
}

#all{
    height: 100vh;
    width: 100vw;
}

#header{
    background-color: #cb3333;
    height: 10%;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 0 10px;
}

#header > a:link, a:visited{
    text-decoration: none;
    color: white;
    padding: 12px;
 }

#main{
    height: 90%;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-content: space-around;
    align-items: center;
}

#leftSide{
    justify-self: center;
    align-self: center;
}

#rightSide{
    justify-self: center;
    align-self: center;
}

#rightSide > h1 {
    text-align: center;
}

.questionArea{
    height: 70vh;
    width: 50vw;
    display: grid;
    grid-template-rows: repeat(1fr, 5);
    justify-content: space-around;
    align-items: center;
}

.slider {
    -webkit-appearance: none;
    outline: none;
    border-radius: 15px;
    height: 15px;
    width: 200px;
    background: #cb3333
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #f6f6f6;
    cursor: pointer;
}

.question{
    width: 500px;
    margin: 15px;
}

.question > h3, h4 {
    display: inline;
}

#nextPage{
    position: absolute;
    bottom: 50px;
    right: 50px;
}

#nextPageButton{
    background-color: #cb3333;
    padding: 10px 20px 10px 20px;
    border: none;
    color: #F6F6F6;
    font-size: 20px;
}

.answer{
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.answer .popUpSlider {
    visibility: hidden;
    color: #fff;
    background-color: #333;
    border-radius: 6px;
    position: absolute;
    padding: 10px;
    bottom: 20px;
    left: 0px;
    z-index: 1;
}

.answer:hover .popUpSlider{
    visibility: visible;
}
